PROJECT_ENV=local

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=graph_aml
POSTGRES_USER=graph_aml_user
POSTGRES_PASSWORD=change_me

NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=neo4j-password
NEO4J_DATABASE=neo4j

MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_PORT=5000
